<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-item>
    <ion-select placeholder="Filtrar por categoría" [(ngModel)]="selectedCategoryId">
      <ion-select-option [value]="null">Todas</ion-select-option>
      <ion-select-option *ngFor="let cat of categories" [value]="cat.id">

        {{ cat.name }}

      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Nueva tarea" [(ngModel)]="newTask">
    </ion-input>

    <ion-select placeholder="Categoría" [(ngModel)]="taskCategoryId">
      <ion-select-option *ngFor="let cat of categories" [value]="cat.id">
        {{ cat.name }}
      </ion-select-option>
    </ion-select>

    <ion-button (click)="saveTask()" [disabled]="!newTask.trim() || !taskCategoryId">
      {{ editingTaskId ? 'Actualizar' : 'Agregar' }}
    </ion-button>

  </ion-item>



  <ion-list>
    <ion-item *ngFor="let task of filteredTasks; trackBy: trackById">

      <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleTask(task)">
      </ion-checkbox>

      <ion-label>
        {{ task.title }}
        <ion-badge *ngIf="task.categoryId" [style.background]="getCategoryColor(task.categoryId)">
          {{ getCategoryName(task.categoryId) }}

        </ion-badge>
      </ion-label>
      <ion-button fill="clear" (click)="editTask(task)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="danger" (click)="deleteTask(task.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>